path {
  stroke: #cce;
  stroke-width: 0.25px;
  fill: #bbd;
}

.symbol {
  fill: blue;
  fill-opacity: .8;
  stroke: #fff;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
  background: lightgrey;
}

div.hide {
  display: none;
}

#chart {
  margin:10%;
  border:2px solid #d0d0d0;
  border-radius: 5px;
  z-index: 10
}